extends ../layout

block content
  main
    h2 Book Error: #{message}
    p: a(href="/books") Back to Library
    img#disappointed(src="/img/ron-burgundy-disappointed.png", alt="Ron Burgundy is disappointed in you.")
