extends ../layout

block content
  main#book-form
    h2= title
    include validationErrors
    form(action="/books", method="post")
      include form
      input(type="submit", value="Add Book")
      a#cancel(href="/books") Cancel