<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    //- TODO find a better font
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1= "My Library"
      p: a.button(href="/books/new") Create New Book
    block content