extends layout

block content
  main
    p: a(href="/books") Back to Library
    h2 #{error.status} #{message}
    img#surprised(src="/img/ron-burgundy-surprised.png", alt="Ron Burgundy is very surprised at this outcome.")
     